@tailwind base;
@tailwind components;
@tailwind utilities;

body,
body > div,
body > div > div {
    @apply min-h-full; 
}


@font-face {
    font-family: 'Neucha';
    src: url('~/fonts/Neucha/Neucha-Regular.ttf') format('truetype');
    font-weight: normal;
  }
@font-face {
    font-family: 'Ubuntu';
    src: url('~/fonts/Ubuntu/Ubuntu-Regular.ttf') format('truetype');
    font-weight: normal;
  }


.font-neucha {
	font-family: 'Neucha';
}
.font-ubuntu {
	font-family: 'Ubuntu';
}

.bg-nav-color {
	background-color: #062D4E;
}

.scroll-button {
    @apply absolute z-10 bottom-12 right-0;
}

.scroll-container {
    overflow-y: scroll;
    scroll-behavior: smooth;
}